/* !======================================================== */
/* ! FUENTES */
/* !======================================================== */

@font-face {
    font-family: 'FormaEx';
    src: url(Fonts/FormaDJRMicro-ExtraBoldItalic-Testing.otf) format('truetype');
    font-family: 'CascadiaCode';
    src: url(Fonts/CascadiaMonoNF.ttf) format('truetype');
}
/*!===================================*/
/*!            default                  */
/*! =================================== */

/* !======================================================== */
/* ! VARIABLES */
/* !======================================================== */

:root{
    /*Colores*/
    --primary-color: rgb(156, 10, 29);
    --secondary-color: #740000;
    --tertiary-color: #adf1fc;
    --text-color: #ffffff;
    --text-color-secondary: #000000;
    --background-color: #ffffff;
    --fuente-titulos: "FormaEx", sans-serif;
    --fuentes-subtitulos:"CascadiaCode";
    --fuentes-texto:"CascadiaCode";

    /* Tamaños */
    --titulo: 3.8rem;
    --subtitulo: 1.9rem;
    --texto: 0.8rem;

    /* Bordes */
    --radio: 12px;

    /* Sombras */
    --sombra: 0 10px 25px rgba(0,0,0,.2);
}
.Titulo{
    width: 80%;
    margin: auto;
    text-align: center;
    animation: aparecer 1s ease forwards;
    text-decoration: none;
    color: var(--primary-color);
    font-style: var(--fuente-titulos);
}
.Titulo_B{
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
    display: block;
    padding-top: 120px;
    font-style: var(--fuente-titulos);
    font-weight: bold;
    
}
/*!===================================*/
/*!            default                  */
/*! =================================== */
.modelo-seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px;

}
.oculto {
    display: none;
}

.visible {
    display: flex;
}
.img-normal{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 20px;
    position: fixed;
    margin-top: 120px;
    display: flex;
    
}
model-viewer {
    width: 50px;
    height: 50px;
}


.caja-descriptiva {
    width: 40rem;
    padding: 4rem;
    background-color: rgb(216, 216, 216);
    border-radius: 2rem;
    text-align: left;
    font-size: var(--texto);
    font-style: var(--fuentes-texto);
}

/* !======================================================== */
/* ! ANIMACIONES */
/* !======================================================== */

/* animaciones */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*fin animaciones*/
/*Inicio de index*/

/* !======================================================== */
/* ! BODY */
/* !======================================================== */

body{
    font-style: var(--fuentes-texto); 
    
} 
model-viewer{
    width:500px;
    height:500px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* !======================================================== */
/* ! HEADER Y NAVEGACIÓN */
/* !======================================================== */

header{ 
    
    background-color: var(--primary-color); 
    width: 100%;
    color: var(--text-color);
    clear: both;
    content: "";
    display: table;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 900;

}
.menu{
    width: 100%;
    height: 1rem auto ;
    margin:  2rem auto;
    margin-left: 1rem; /* ancho del logo + separación */
    align-items: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.destacado-menu{/*/* Estilo para el elemento destacado en el menú, cuando uno este en la pagina*/
    background-color: var(--secondary-color);
    color: white;
}
.Logo {
    width: 10%;
    position: absolute;
    left: 4%;
    top: 0rem;
    transform: translateX(-50%);
    z-index: 1000;
}
.nosotros-img {
    width: 100%;
    height: auto;
    display: flexbox;
    right: 0%;
    
}
.destacado{
    color: var(--primary-color);
}
.caja-texto{
    width: 80%;            /* ancho del cuadro */
    min-height: 40%;     /* altura del cuadro */
    margin: 50px auto;     /* lo centra */
    padding: 10px;         /* espacio entre borde y texto */

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bebebe2d;
    
}
.caja-texto-Titulos {
    display: block;
    padding-top: 120px;
    width: 100%;   
    padding: 2rem;         /* ancho del cuadro */
    min-height: 100px;     /* altura del cuadro */
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}
.caja-materiales, .otra-caja {
    width: 600px;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 25px;
    margin: 50px auto;
    font-size: var(--texto);
    
}

.caja-materiales h2 {
    text-align: center;
    font-size: var(--subtitulo);
}

* h3 {
    margin-top: 30px;
    color: #740000;
}

.caja-materiales ul {
    padding-left: 25px;
}

.caja-materiales li {
    margin-bottom: 10px;
    line-height: 1.5;
}
.Cajas{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

nav ul li {
    margin-left: 0.1rem;
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0rem 0.5rem; /* Ajusta estos valores */
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--fuente-titulos);
}
nav ul li a::before{
    content: "";
    position: absolute;

    width: 1rem;
    height: 1rem;
    background: white;

    top: 1rem;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: .3s;
  
}
nav ul li a:hover{
    background-color: #740000;
   
}
.iconos{
    display: flex;
    justify-content: center;
    height: 300px;
    object-fit: cover;
    padding: 100px; 
    gap: 20%;
    color: var(--primary-color);
    
}
.caja-texto p {
    font-size: var(--fuentes-subtitulos);
    line-height: 1.8;
    text-align: center;
}
.caja-texto-footer {
    width: 100%;            /* ancho del cuadro */
    min-height: 10rem;     /* altura del cuadro */
    padding: 40px; 
    background-color: var(--primary-color);        /* espacio entre borde y texto */

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}


/*fin de index*/

/* !======================================================== */
/* ! TARJETAS */
/* !======================================================== */

/* Tarjetas */
.targeta-anima{
    width: 100%;
    height: 100%; /* altura fija del texto */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    c


}
.contenedor{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 50px;
    flex-wrap: wrap;
    z-index: 500;
    padding: bottom 40%;
}

.tarjeta{
    width: 320px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: .4s;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

.tarjeta img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: .5s;
}


/* !======================================================== */
/* ! FORMULARIOS */
/* !======================================================== */

.ISeccion{
   border: 90px solid #d3919100;  
   height: 100%;
   justify-content: flex;
   justify-content: center;
   margin-top: 2rem;
}
.form-group{
    border: 1px solid #000000;
    width: 28rem;
    height: 36rem;
    border-radius: 2rem;
    background-color: #974444;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
}
.form-group .titulo{

   
    color: #ffffff;
    text-align: center;
    padding: 18px;
    font-size: var(--fuente-titulos);
    font-weight: bold;
    transition: .3s;
    margin-bottom: 2rem;
}
.form-group .Descripcion{
    
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
    font-size: var(--fuentes-texto);
}
.I-Datos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-color: #080808;
}
.form-group .input{
    padding: 10px;
    border: 3px solid #000;
    border-radius: 5px;
}
.btn{
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    transition: .3s;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

/* !======================================================== */
/* ! COLLAR */
/* !======================================================== */

/*Inicio de collar*/
.caja-descriptiva{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
/* !======================================================== */
/* ! menu deslizable */
/* !======================================================== */
.solo-carrusel{
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 20px;
    padding-bottom:20px ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px; /* tamaño del cuadrado */
    height: 600px; /* tamaño del cuadrado */
}


.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}


.img{
    width: 40rem;
    height: 20rem; /* altura fija de la imagen */

    object-fit: cover;

    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.85);
}


.texto{
    width: 100%;
    height: 100%; /* altura fija del texto */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    overflow: hidden;

    background-color: rgba(var(--primary-color), 0.5); /*Color de fondo texto*/
}


/* Puntos del carrusel */
.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{ /*No seleccionado*/
    font-size: 100px;
    font-weight: 10px;
    margin-top: -50px;
    color: black;
}

.puntos .bold{ /*Seleccionado*/
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--primary-color);
}
/*menu deslizable*/